@font-face {
  font-family: 'CoffeeService';
  src: url('fonts/CoffeeService/CoffeeService.otf');
}
// Serif Body Copy
@font-face {
  font-family: 'Century731';
  src: url('fonts/Century731/tt0558m_.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Century731';
  src: url('fonts/Century731/tt0559m_.ttf');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Century731';
  src: url('fonts/Century731/tt0560m_.ttf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Century731';
  src: url('fonts/Century731/tt0561m_.ttf');
  font-weight: bold;
  font-style: italic;
}
// Sans Headings
@font-face {
  font-family: 'CenturyGothicPro';
  src: url('fonts/CenturyGothic/CenturyGothicPro.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CenturyGothicPro-Italic';
  src: url('fonts/CenturyGothic/CenturyGothicPro.otf');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'CenturyGothicPro';
  src: url('fonts/CenturyGothic/CenturyGothicPro-Bold.otf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'CenturyGothicPro';
  src: url('fonts/CenturyGothic/CenturyGothicPro-BoldItalic.otf');
  font-weight: bold;
  font-style: italic;
}