/* Mixins
---------*/
@mixin vertical-parent {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
@mixin vertical-center {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
@mixin respond-to($breakpoint) {
    @if $breakpoint == "small" {
        @media (max-width: 480px) {
            @content;
        }
    }

    @else if $breakpoint == "medium" {
        @media (max-width: 768px) {
            @content;
        }
    }

    @else if $breakpoint == "small-medium" {
        @media (min-width: 480px) {
            @content;
        }
    }
    
    @else if $breakpoint == "extra-medium" {
        @media (min-width:768px) and (max-width: 950px) {
            @content;
        }
    }

    @else if $breakpoint == "large" {
        @media (min-width: 769px) {
            @content;
        }
    }

    @else if $breakpoint == "huge" {
        @media (min-width: 1440px) {
            @content;
        }
    }
}
