#wpcomm {
    .wc-comment-right {
        border: none !important;
        padding: 0 0 0 1em !important;
    }
    .wc-comment-header {
        margin-bottom: -0.7em;
    }
    .wc-reply-link, .wc-share-link {
        &:after {
            content: "|";
            margin-left: 0.8em;
            margin-right: -0.5em;
            font-size: 1.25em;
            font-weight: 300;
            color: $lightGrey;
        }
    }
    .wc-comment-footer {
        width: 100%;
        text-align: right;
        float: right;
        span, a {
            color: $lightGrey !important;
            &:hover {
                color: $pink !important;
            }
        }
        .wc-vote-result {
            float: left;
        }
        .wc-vote-link {
                float: left;
                margin-left: 0.5em;
                padding: 0.1em 0 0 0;
            &.wc-up {
                float: left;
                padding: 0 0;
                margin-top: -0.5em;
                &:after {
                    content: "|";
                    margin-left: 0.5em;
                    margin-right: 0.1em;
                    font-size: 1.5em;
                    font-weight: 300;
                }
            }
            &.wc-down {
                float: left;
            }

        }
    }
}