/*
Theme Name: bargainstorage
Author: Nice Touch
Author URI: http://nicetouch.co/
Description: Clean, responsive theme custom-made for Bargain Storage
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: bargainstorage

*/

@import "bower_components/susy/sass/susy";
@import 'sass/_normalize.scss';
@import 'sass/_mixins.scss';
@import 'sass/_fonts.scss';
body {
    background-color: grey;
}
#page {
    max-width: 1400px;
    margin: 0 auto;
    background-color: #fff;
}

/* Colors
---------*/
$blue: #63A7B6;
$charcoal: #282629;
$white: #EAE6E3;
$orange: #C9563D;
$ashy: #4E4F51;
$grey: #D8D8D8;
$brown: #827F78;
$rust: #C66256;
$tan: #EAE6E3;

/* Fonts & Typography
---------------------*/
$sansHeading: 'CenturyGothicPro', Helvetica Neue, Helvetica, Arial, sans-serif;
$bodySerif: 'Century731', TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif;
$cartoonHeading: 'CoffeeService', TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif;

body {
    font-family: $bodySerif;
    @include respond-to(huge) {
        font-size: 1vw;
    }
}
h1 {
    font-family: $sansHeading;
    font-size: 3.998em;
    text-transform: uppercase;
    font-weight: 700;
    @include respond-to(small) {
        font-size: 3.8em;
    }
}
h2 {
    font-family: $sansHeading;
    font-size: 2.827em;
    text-transform: uppercase;
    font-weight: 700;
    @include respond-to(small) {
        font-size: 2.3em;
    }
}
h3 {
    font-family: $sansHeading;
    font-size: 1.999em;
    text-transform: uppercase;
    font-weight: 700;
}
h4 {
    font-family: $bodySerif;
    font-size: 1.2em;
    margin-bottom: 0.2em;
    text-transform: uppercase;
    font-weight: normal;
}
h5 {
    font-family: $sansHeading;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 700;
}
h6 {
    font-family: $sansHeading;
    font-size: 0.707em;
    text-transform: uppercase;
    font-weight: 700;
}
p {
    margin-top: 0em;
    margin-bottom: 1em;
}

/* Section/Layout
-----------------*/
section {
    display: inline-block;
    width: 100%;
    padding: 1em 8% 2em;
    margin-bottom: -0.25em;
    @include respond-to(large) {
    padding: 1em 10% 2em
    }
    &.grid-bg {
        padding-top: 3em;
        position: relative;
        background-color: $grey;
        background-image: url('img/tile-light.png');
    }
    &.pos-rel {
        position: relative;
    }
    &.brown {
        background-color: $brown;
        background-image: url('img/tile-dark.jpg');
        color: $white;
    }
    &.unpad {
        padding: 1em 0 0 0;
    }
    &.black {
        background-color: $charcoal;
        position: relative;
    }
}
.two-thirds {
    margin-top: 1em;
    margin-bottom: 2em;
    @include respond-to(large) {
        @include span(8 of 12);
        &:last-child {
            @include last;
        }
    }
}
.one-third {
    margin-top: 1em;
    margin-bottom: 2em;
    @include respond-to(large) {
        @include span(4 of 12);
        padding-right: 1em;
        &:last-child {
            @include last;
            padding-right: 1em;
        }
    }
}
.pad {
    padding-bottom: 3em;
}

.vertical-parent {
    @include vertical-parent;
}
.vertical-center {
    @include vertical-center;
}
/* Navigation
------------*/
.logged-in #menu-item-663 {
     display: none;
 }
#site-navigation {
    @include container(100%);
    display: inline-block;
    float: right;
    width: 100%;
    margin-top: -0.4em;
    padding-top: 0.5em;
    text-align: center;
    background-color: $charcoal;
    ul {
        margin: 0;
        padding: 0;
        li {
            display: inline-block;
            }
        .current-menu-item a {
            color: #63A7B6;
        }
        a {
            display: inline-block;
            padding: 0.5em 1.5em 0.5em;
            font-size: 1.1em;
            font-family: $sansHeading;
            text-transform: uppercase;
            text-decoration: none;
            word-spacing: 3px;
            color: $white;
        }
    }
}
/* Portal header
----------------*/
.portal-bg {
    background-image: url("img/bg-portal-desktop.png");
    padding-top: 0.1em;
    margin-left: -0.1em;
    background-size: cover;
}
.portal-nav-wrapper {
    float: right;
}
#mini-navigation {
    @include container(100%);
    display: inline-block;
    text-align: center;
    font-weight: 700;
    float: left;
    margin-right: 0.8em;
    ul {
        margin: 0;
        li {
            display: inline-block;
            }
        a {
            display: inline-block;
            padding: 0.5em 0.6em 0.5em;
            font-size: 0.5em;
            font-family: $sansHeading;
            text-transform: uppercase;
            text-decoration: none;
            letter-spacing: 1px;
            color: $white;
        }
    }
}
.user-name {
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 0.5em;
    font-weight: 700;
    font-family: $sansHeading;
    color: $white;
    padding: 1.1em 0.5em 0.5em;
    float: left;
}
.logout-button {
    width: 5.5em;
    float: left;
    margin: -0.4em 0 0 1.2em;
}
.portal-social-wrapper {
    float: left;
    margin: 0.2em 1.5em;
    .fa::before {
        font-size: 0.7em;
        color: $charcoal;
        background-color: $white;
        border-radius: 50%;
        padding: 0.3em 0.4em;
        margin: 0 0.2em ;
    }
    .fa-facebook::before  {
        padding: 0.3em 0.6em;
    }
}
.portal-logo-wrapper {
    padding-top: 3em;
    width: 19em;
    //margin: 3em auto 1em;
    margin: 2em auto 0.5em;
    img {
        width: 17em
    }
}
#portal-navigation {
    @include container(100%);
    display: inline-block;
    width: 100%;
    padding-top: 0.3em;
    padding-bottom: 1em;
    text-align: center;
    font-weight: 700;
    ul {
        margin: 0;
        padding: 0;
        li {
            display: inline-block;
            }
        a {
            display: inline-block;
            padding: 0.5em 0.5em 0.5em;
            font-size: 1.1em;
            font-family: $sansHeading;
            text-transform: uppercase;
            text-decoration: none;
            letter-spacing: 2px;
            color: $white;
            &:hover {
                color: $blue;
            }
        }
    }
}
.skip-link {
    display: none;
}
/* Marketing header
----------------*/
.top-wrapper {
    @include container(100%);
    display: inline-block;
    width: 100%;
    background-color: $blue;
    font-size: 1.2em;
    padding: 0.7em 0;
    @include respond-to(huge) {
        font-size: 1.4vw;
    }
    a {
        text-decoration: none;
        color: $charcoal;
    }
    .left {
        @include span(4.5 of 12);
        font-family: $sansHeading;
        text-align: center;
        .content {
            border-left: 1px solid $charcoal;
            border-right: 1px solid $charcoal;
            display: inline-block;
            float: right;
            min-height: 4.5em;
            padding: 0 3em;
        }
        img {
            margin-top: 0.3em;
            width: 1.3em;
        }
    }
    .middle {
        @include span(3 of 12);
        height: 4.3em;
        text-align: center;
        .logo {
            display: inline-block;
            img {
                margin-bottom: -0.3vw;
                width: 100%;
            }
        }
    }
    .right {
        @include span(4.5 of 12);
        @include last;
        font-family: $sansHeading;
        .content {
            border-left: 1px solid $charcoal;
            border-right: 1px solid $charcoal;
            display: inline-block;
            float: left;
            min-height: 4.5em;
            padding: 0 3em;
        }
    }
    h5 {
        margin: 0 auto;
        max-width: 7em;
        font-weight: 700;
        font-size: 0.6em;
        line-height: 1.2;
        text-align: center;
    }
}
.social {
    margin: 0.5em 0 0.75em 0;
    .fa {
        color: $blue;
        background-color: rgba(0,0,0,1);
        border-radius: 50%;
        padding: 0.3em 0.4em;
        min-width: 1.65em;
    }
    .fa-facebook {
        padding-left: 0.5em;
    }
}



/* Content
----------*/
#gif-hero {
    padding-bottom: 1em;
    img {
        width: 100%;
    }
}
.banner-image {
    height: 38vw;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.section-heading {
    font-family: $cartoonHeading;
    font-weight: normal;
    margin: .4em 0 .2em;
    letter-spacing: 1px;
    word-spacing: 1px;
    text-transform: none;
}
.entry-content{
    @include container(100%);
    text-align: center;
    .holder {
        display: inline-block;
        .fa {
            margin-bottom: 0.1em;
        }
        .faux-bulb {
            width: 4.6em;
        }
        h5 {
            letter-spacing: 1px;
            font-size: .95em;
            min-height: 2.4em;
            margin-bottom: 1em;
        }
        p {
            font-size: .95em;
            text-align: center;
            line-height: 1.9em;
        }
    }
    .half {
        margin-top: 1em;
        margin-bottom: 1em;
        @include respond-to(large) {
            @include span(6 of 12);
            padding-right: 1em;
            &:nth-child(odd) {
                @include last;
                padding-right: 0;
                padding-left: 1em;
            }
        }
    }
    .quarter {
        margin-top: 1em;
        margin-bottom: 2em;
        @include respond-to(small-medium) {
            @include span(6 of 12);
            padding-right: 1em;
            &:nth-child(4n) {
                @include last;
            }
        }
        @include respond-to(large) {
            @include span(3 of 12);
            padding-right: 1em;
            &:nth-child(4n) {
                @include last;
            }
        }
    }
    .third {
        @include respond-to(large) {
            @include span(4 of 12);
            margin-top: 1em;
            margin-bottom: 2em;
            padding-right: 1em;
            &:nth-child(3n) {
                @include last;
                padding-right: 1em;
            }
        }
    }
    .two-thirds {
        margin-top: 1em;
        margin-bottom: 2em;
        @include respond-to(large) {
            @include span(8 of 12);
            // @include last;
            padding-right: 0;
            .third {
                &:last-child {
                    @include last;
                    padding-right: 0;
                }
            }
        }
    }
    .three-fourths {
        margin-top: 1em;
        margin-bottom: 2em;
        @include respond-to(large) {
            @include span(9 of 12);
            &:last-child {
                @include last;
            }
        }
    }
    .section-tagline {
        font-size: 1.1em;
        line-height: 1.8em;
        @include respond-to(large) {
            margin: 0 7% 0;
        }

    }
    .fa {
        color: $blue;
        font-size: 7em;
    }
}
.hex-button {
    display: inline-block;
    margin: 1.5em 0 2em;
    img {
        width: 15em;
    }
}

/* Home
-------*/
.home {
    #wpsl-result-list {
        display: none;
    }
    @include respond-to(medium) {
        // #wpsl-gmap {
        //     display: none;
        // }
        #wpsl-result-list {
            //display: block;
        }
    }
}
/* Who We Are
------------*/
.page-template-page-who {
    .third {
        text-align: left;
    }
    .team-pic {
        display: block;
        margin: 1em auto -2.2em;
        width: 65vw;
        border-radius: 50%;
        background-position: center center;
        background-size: cover;
        border: 5px solid $white;
        position: relative;
        z-index: 1;
        @include respond-to(small) {
            width: 80vw;
        }
        @include respond-to(large) {
            display: inline-block;
            padding-top: 0;
            height: 21.3vw;
            width: 100%;
        }
    }
    .team-pic-fix {
        position: relative;
        z-index: 5;
        background-image: url("img/tile-light.png");
    }
    .name-underline {
        text-align: center;
        font-size: 1.3em;
        border-bottom: 1px solid $orange;
        padding: 0.5em;
        margin: 0 auto 1em;
        display: block;
        width: 44vw;
        @include respond-to(large) {
            width: 17vw;
        }

    }
    .employee-description {
        text-align: center;
        font-size: .8em;
        padding: 0 0 1.5em;
    }
    .employee-source {
        font-size: .75em;
        display: block;
        text-align: center;
    }
}

/* Careers
----------*/
.page-template-page-careers {
    .section-tagline {
        padding-bottom: 1em;
    }
    form {
        text-align: left;
        width: 98%;
        margin: auto;
        @include respond-to(large) {
            width: 50%
        }
    }
    input[type="text"],
    .wpcf7-textarea,
    .wpcf7-select {
        border-radius: 0;
        background: none;
        border: 1px solid $blue;
        cursor: pointer;
        padding: 0.5em 1em;
        width: 100%;
    }
    .wpcf7-select {
        -webkit-appearance: none;
        -webkit-border-radius: 0px;
        -moz-appearance: none;
        appearance: none;
        text-overflow: ''; /* this is important! */
        padding-right: 1.5em;
        width: 12em;
        z-index: 1;
        position: relative;
        background-color: transparent;
    }
    select::-ms-expand {
        display: none;
    }
    .select-wrap {
        display: inline-block;
        position: relative;
    }
    .select-wrap:after {
        font-family: "FontAwesome";
        content: "\f107";
        display: inline-block;
        font-size: 1.3em;
        color: $blue;
        margin-left: -1.2em;
        position: absolute;
        top: 0.4em;
        z-index: 0;
    }
    .checkbox-474 .wpcf7-list-item {
        display: block;
    }
    input[type="checkbox"],
    input[type="radio"] {
        -moz-appearance: none;
        -ms-appearance: none;
        -webkit-appearance: none;
        background-color: transparent;
        width: 1em;
        height: 1em;
        border: 1px solid $blue;
        cursor: pointer;
        &:focus {
            outline: 0;
        }
        &:checked {
            background-color: $blue;
        }
    }
    .checkbox-194, .checkbox-29 {
        span.wpcf7-list-item.last {
            margin-left: 0.5em;
        }
    }
    .your-message {
        .wpcf7-textarea {
            height: 9em;
        }
    }
    span.wpcf7-list-item {
        margin-left: 0;
    }
    .job {
        text-align: left;
        padding-right: 2em;
        &:nth-child(even) {
            padding-left: 2em;
        }
        .title {
            font-size: 1.2em;
            letter-spacing: 1.5px;
            margin: 0.7em 0;
        }
    }
    label.fileContainer { // Element used as the file submit link
        cursor: pointer;
        text-decoration: underline;
    }
    input[type="file"] {

    }
    .submit-wrap {
        width: 8.9em;
        margin: 0 auto 1em;
    }
    input.wpcf7-form-control.wpcf7-submit {
        height: 3.4em;
        width: 12em;
        font-size: 0.75em;
        background-image: url("img/buttons/submit.png") !important;
        background-color: transparent !important;
        background-size: cover;
        background-repeat: no-repeat;
        border: 0 !important;
        box-shadow: none !important;
        text-shadow: none !important;
        margin: 0 0 !important;
        border-radius: 0 !important;
        outline: 0 !important;
    }
    span.wpcf7-form-control-wrap.your-message {
        margin-top: 1em;
        display: inline-block;
        width: 100%;
    }
    .wpcf7-response-output {
        border: 2px solid $blue !important;
    }
}

/* Reports
----------*/
.report-downloads {
    list-style: none;
    margin: 0 auto;
    padding: 1em;
    a {
        color: $charcoal;
        font-family: $sansHeading;
        font-size: 1.3em;
        &:hover {
            color: $blue;
        }
        line-height: 2;
    }
}

/* Blog
-------*/
.blog, .single, .archive, .search {
    color: $charcoal;
    #secondary {
        padding-top: 1.6em;
        .tagcloud a {
            display: inline-block;
            padding: 0.8em 0.7em 0.5em 0.7em;
            margin: 0.1em;
            margin-bottom: 0.8em;
            color: $blue;
            border: 1px solid $ashy;
            border-radius: 0.4em;
            font-size: 0.9em !important;
            font-family: $sansHeading;
            text-transform: uppercase;
        }
        .usa-map {
            width: 70%;
            margin: 1em 15%;
        }
    }
    .entry-content {
        text-align: left;
        padding: 0 1em 1em 1em;
        @include respond-to(large) {
            padding: 0 1em 1em 7.5vw;
        }
        .fa {
            color: $charcoal;
            font-size: 1em;
            margin-left: 1em;
        }
    }
    section {
        padding: 0 10em 0;
    }
    p {
        margin-top: 1em;
    }
    a {
        color: $charcoal;
        text-decoration: none;
    }
    .widget-title {
        font-size: 1.5em;
        margin-bottom: .05em;
    }
    .entry-title {
        margin-bottom: .5em;
        color: $orange;
        clear: both;
        a {
            color: $orange;
        }
    }
    .entry-meta {
    font-size: 0.8em;
    }
    .header-image {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        height: 38vw;
        width: 100%;
        img {
            display: block;
        }
        @include respond-to(medium) {
            height: 65vw;
        }
    }
    .read-more-button {
        display: block;
        height: 2.5em;
        float: right;
        margin-top: 1em;
        margin-bottom: 1em;
    }
}
.single {
    .entry-title {
        margin: 2em 0 0 7.5vw;
    }
}
.archive, .blog,{
    #content {
        background-image: url('img/tile-light.png');
    }
    .read-more {
        display: block;
    }
}
.search {
    #content {
        background-image: url('img/tile-light.png');
    }
    section {
        padding: 0 3em 0 13%;
    }
    .page-title {
        font-size: 3.7em;
    }
    .tags-links {
        display: none;
    }
}

/* Footer
---------*/
.site-footer {
    @include container(100%);
    color: $white;
    background-color: $charcoal;
    z-index: 4;
    position: relative;
    text-align: center;
    padding: 0 1em 1em;
    .footer-logo {
        height: 6.2em;
        margin: -2em 0 1.3em;
    }
    .address {
        margin: 0;
        letter-spacing: 1.1px;
        font-size: 1.2em;
        word-spacing: 1.7px;
        text-transform: uppercase;
    }
    .social .fa {
        background-color: #fff;
        color: #282629;
    }
    .copyright {
        font-size: 0.8em;
        letter-spacing: 1.1px;
    }
}
#sticky-footer {
    background-color: $blue;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    @include container(100%);
    font-size: 3vw;
    #gif-wrap {
        @include span(3 of 12);
        text-align: center;
        img {
            border-radius: 50%;
            border: 0.5em solid $blue;
            margin-top: -2em;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .link-wrap {
        @include span(4.5 of 12);
        font-size: 3vw;
        &.right {
            @include last;
        }
    }
    .sticky-link {
        padding: 1.5em 1em 1.1em 1em;
        width: 100%;
        display: inline-block;
        font-family: $sansHeading;
        font-size: 1.1em;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 1.5px;
        color: $charcoal;
        text-align: center;
        font-weight: 700;
    }
}
/* Maps
-------*/
.scallop-top {
    background: url('img/border-top.png');
    position: absolute;
    top: -0.4em;
    left: 0;
    right: 0;
    width: 100%;
    height: 1em;
    z-index: 100;
    &.black {
        background: url('img/border-top-black.png');
    }
    &.white-border {
        background: url('img/border-top-white.png');
    }
}
.scallop-bottom {
    background: url('img/border-bottom.png');
    background-position-y: 100%;
    position: absolute;
    bottom: -0.6em;
    left: 0;
    right: 0;
    width: 100%;
    height: 1em;
    z-index: 100;
    &.black {
        background: url('img/border-bottom-black.png');
        background-position-y: 1em;
    }
    @include respond-to(large) {
        bottom: -0.7em
    }
}
.scallop-top, .scallop-bottom {
    //display: none;
}
/* Reviews, desktop: Salvattore.js column classes
-------------------------------*/
#reviews, #mobile-reviews {
    .column {
        float: left;
        &:nth-child(n+1) {
            padding-right: 3vw;
        }
        &:nth-last-child(1) {
            padding-right: 0em;
        }
    }
    .size-1of1 { width: 100%; }
    .size-1of2 { width: 50%; }
    .size-1of4 { width: 25%; }

    .review {
        color: $ashy;
        font-size: .8em;
        text-align: left;
        padding-bottom: 4em;
        .fa {
            font-size: 2.1em;
            padding: 0 0.2em 0.4em 0;
            color: $orange;
        }
        .source {
            font-family: $sansHeading;
            font-size: .7em;
            font-weight: bold;
            text-transform: uppercase;
            text-align: right;
            float: right;
        }
    }
}
.home #reviews {
    @include respond-to(medium) {
        display: none;
    }
}
.home #mobile-reviews {
    display: none;
    .review {
        padding-bottom: 0;
    }
    @include respond-to(medium) {
        display: inline-block;
        width: 100%;
    }
}
/* Salvattore.js media queries
------------------------------*/
@media screen and (max-width: 480px){
    #reviews[data-columns]::before {
        content: '1 .column.size-1of1';
    }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
    #reviews[data-columns]::before {
        content: '2 .column.size-1of2';
    }
}
@media screen and (min-width: 769px) {
    #reviews[data-columns]::before {
        content: '4 .column.size-1of4';
    }
}
/* Reviews, mobile: owl carousel
---------------------------------*/
#mobile-reviews {
    //display: none;

}
/* Review slider (brown)
------------------------------*/
section.brown {
    position: relative;
    background-color: $brown;
    .custom-prev {
        position: absolute;
        width: 5vw;
        top: 40%;
        left: 3vw;
        cursor: pointer;
    }
    .custom-next {
        position: absolute;
        width: 5vw;
        top: 40%;
        right: 3vw;
        cursor: pointer;
    }
    .owl-carousel {
        .owl-item {
            padding: 6vw 12vw 2vw;
            font-size: 1.8em;
            color: $white;
            color: #fff;
            cursor: pointer;
        }
    }
}

/* WP Store Locator
-------------------*/
.wpsl-search {
    padding: 0 !important;
    margin: 0 auto !important;

    background-color: transparent;
    @include respond-to(large) {
        margin: 1px auto !important;
        float: none;
        display: inline-block;
    }
    @include respond-to(medium) {
        input#wpsl-search-input {
            margin: 0 auto !important;
            padding: 1em 0;
            display: inline-block;
            width: 13em!important;
        }
        #wpsl-search-btn, #wpsl-search-wrap div {
            margin-right: 0;
            float: none;
        }
        #wpsl-search-wrap #wpsl-search-btn {
            float: none;
            margin: 1em auto !important;
        }
        .wpsl-no-filters #wpsl-search-input, .wpsl-no-filters #wpsl-search-wrap .wpsl-input {
            width: 100%!important;
        }
    }
    #wpsl-search-wrap {
        @include container(100%);
        text-align: center;
        display: inline-block;
        width: auto;
        .wpsl-input {
            margin: 1.5em auto 0;
            @include respond-to(large) {
                margin: 1.5em 0 0 0;
                float: left;
            }
        }
        #wpsl-search-input {
            margin: 0em 1em;
            text-align: center;
            font-weight: 700;
            font-family: $sansHeading;
            line-height: 1.5;
            padding-top: 0.5em;
            padding-bottom: 0.3em;

        }
        label {
            font-family: $cartoonHeading;
            font-size: 2.8em;
            letter-spacing: 1px;
            line-height: 0.9;
            @include respond-to(small) {
                font-size: 2.5em;
            }
        }
        .wpsl-search-btn-wrap {
            float: left;
            margin: 0 0 0 1em;
            text-align: center;
            @include respond-to(medium) {
                width: 100%;
                margin: 0 auto;
            }
            input {
                float: none;
                display: inline-block;
                margin: 1.25em 0em !important;
                height: auto;
                width: 6.7em;
                background-size: contain !important;
                background-repeat: no-repeat !important;
                @include respond-to(medium) {
                    height: 2.8em;
                    width: 9.7em;
                }
            }
        }
    }
    #wpsl-gmap .gm-style .gm-style-iw  {
        text-align: left !important;
        font-weight: 700 !important;
        font-family: $sansHeading !important;
    }
    .wpsl-info-window {
    }
    .wpsl-input label, #wpsl-radius label, #wpsl-category label {
        width: inherit;
    }
    #wpsl-search-wrap, #wpsl-results {
        @include respond-to(medium) {
            width: 100% !important;
        }
    }
}
#wpsl-result-list {
    text-align: left;
    font-weight: 700;
    font-family: $sansHeading;
    margin: 0!important;
    padding: .6em 6% 0 !important;
    display: none;
    li {
        border-bottom: 2px dashed $charcoal !important;
        padding: 1em 0 !important;
        min-height: 9.7em !important;
        @include respond-to(large) {
            @include span(4 of 12);
            &:nth-child(3n) {
                @include last;
            }
        }
    }
    p {
        margin-bottom: 0 !important;
        padding-left: 1em;
    }
    a {
        color: $charcoal;
    }
    .wpsl-direction-wrap {
        padding-left: 1em;
    }
}
.wpsl-search-btn-wrap {
    width: auto;
    display: inline-block;
    margin-top: 1em;
    margin-bottom: 1.5em;
    input , input:focus, input :hover{
        background-size: cover !important;
        border: 0 !important;
        box-shadow: none !important;
        text-shadow: none !important;
        margin: 0 0 !important;
        border-radius: 0 !important;
        outline: 0 !important;
        background-image: url("img/buttons/submit.png") !important;
        background-color: transparent !important;
        color: transparent !important;
        width: 9.4em;
        font-size: 1.2em;
        padding-top: 0.4em !important;
    }
}
#wpsl-result-list #wpsl-stores {
    height: auto !important;
}
.wpsl-infobox {
    font-family: $sansHeading;
    text-align: left;
    width: 15em;
    a {
        color: $rust;
        &:not(.directions) {
            display: none;
        }
    }
    span, strong {
        border-bottom: 1px dashed $grey;
        padding: 1.2em 0em 1em 0em;
        display: inline-block;
        width: 100%;
    }
    strong {
        padding-top: 0;
    }
}
#toggle-wrap {
    display: none;
}

/* Image Gallery
----------------*/
#filters {
    margin-bottom: 1.5em;
    margin-top: 2.5em;
    .menu {
        padding: 0 14vw;
    }
    button {
        color: $brown;
        background-color: transparent;
        border: 2px solid $brown;
        border-radius: 0.3em;
        font-family: $sansHeading;
        text-transform: uppercase;
        font-weight: 700;
        padding: 0.7em 0.7em 0.4em 0.7em;
        font-size: 1em;
        margin-bottom: 0.3em;
        &:hover, &.active {
            background-color: $brown;
            color: $white;
        }
        &:focus {
            outline: none;
            border: 2px solid $brown;
            box-shadow: none;
        }
    }
}
#gallery {
    @include container(100%);
    margin-bottom: 10vw;
    min-height: 50vw;
    .gallery-item {
        width: 25%;
        float: left;
        border: 1px solid $white;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 16vw;
        outline: none;
        text-decoration: none;
        position: relative;
        @include respond-to(small) {
            width: 50%;
            height: 32vw;
        }
        &:nth-child(4n) {
            @include last;
        }
        .tag-bg {
            background-color: rgba(0,0,0, 0.6);
            width: 100%;
            height: 100%;
            @include vertical-parent;
            padding: 0 3vw;
            opacity: 0;
            -webkit-transition: opacity 300ms ease-in-out;
            -moz-transition: opacity 300ms ease-in-out;
            -o-transition: opacity 300ms ease-in-out;
            transition: opacity 300ms ease-in-out;
            .img-tag {
                position: relative;
                top: 30%;
                -webkit-transform: translateY(-30%);
                -ms-transform: translateY(-30%);
                transform: translateY(-30%);
                font-family: $sansHeading;
                font-size: 1.4vw;
                color: $white;
                text-transform: uppercase;
                span:last-child {
                    display: none;
                }
            }
        }
        &:hover {
            .tag-bg {
                opacity: 1;
            }
        }
    }
}
.page-template-page-gallery {
    #gallery .gallery-item .tag-bg {
        .img-tag {
            top: 45%;
            -webkit-transform: translateY(-45%);
            -ms-transform: translateY(-45%);
            transform: translateY(-45%);
        }
    }
}
/* Theme My Login
-----------------*/
.tml-wrap {
    padding-top: 5vw;
    padding-bottom: 5vw;
    .section-tagline {
        margin: 0 21% 2em;
    }
}
.tml {
    a, label {
        text-decoration: none;
        font-family: $sansHeading;
        color: $charcoal;
        text-transform: uppercase;
    }
    a {
        &:hover {
            color: $rust;
        }
    }
}
.input-wrap input {
    border-radius: 0;
    border: 2px solid #63A7B6;
    float: left;
    width: 50%;
    padding: 1em;
    &:first-child {
        border-bottom-left-radius: 1.8em;
    }
    &:focus {
        outline: none;
    }
}
.input-wrap input[type="password"] {
    border-left: 0;
}
.tml-submit-wrap {
    width: 50%;
    float: right;
    text-align: right;
    input , input:focus, input :hover{
        background-size: cover;
        border: 0;
        box-shadow: none;
        text-shadow: none;
        margin: 0 0;
        border-radius: 0;
        outline: 0;
        background-image: url("img/buttons/login.png");
        background-color: transparent;
        color: transparent;
        width: 12.6em;
        font-size: 1.2em;
        padding-top: 0.4em;
    }
    input.submit-button {
        background-size: contain !important;
        border: 0 !important;
        box-shadow: none !important;
        text-shadow: none !important;
        margin: 0 0 !important;
        border-radius: 0 !important;
        outline: 0 !important;
        background-image: url("img/buttons/submit.png") !important;
        background-color: transparent !important;
        color: transparent !important;
        width: 9.8em;
        font-size: 1.2em;
        padding-top: 0.4em !important;
        height: 3.1em;
        background-repeat: no-repeat;
    }
}
.tml-name-wrap {
    width: 100%;
    input {
        border-radius: 0;
        border: 2px solid $blue;
        float: left;
        width: 50%;
        padding: 1em;
        &:nth-child(2n) {
            border-left: 0;
        }
        &:nth-child(3n) {
            width: 100%;
            border-top: 1px solid $blue;
        }
        &:last-child {
            width: 100%;
            border-top: 1px solid $blue;
            border-left: 2px solid $blue;
            border-bottom-left-radius: 1.8em;
        }
        &:focus {
            outline: none;
        }
    }
}
.tml-lostpassword {
    .tml-submit-wrap {
        width: 100%;
        float: none;
        text-align: center;
        margin-top: 1em;
        display: inline-block;
    }
    input {
        border-top: 2px solid $blue !important;
    }
}
.tml-rememberme-wrap {
    width: 50%;
    float: left;

}
.tml-action-links {
    list-style: none;
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
}
.tml-login {
    padding: 0 15%;
    .tml-action-links {
        text-align: right;
        padding-right: 0;
        li:first-child {
            display: none;
        }
    }
}
.tml-register {
    padding: 0 15%;
    input {
        &:focus {
            outline: none;
        }
    }
    .tml-action-links {
        display: none;
    }
    .tml-submit-wrap {
        input {
            background-image: url("img/buttons/request-access.png");
        }
    }
}
@media screen and (max-width: 930px) {
    .tml-wrap {
        padding-bottom: 4em;
    }
    .tml-submit-wrap {
        width: 100%;
    }
    .tml-login, .tml-register {
        padding: 0 0;
    }
}

/* Portal
---------*/
// .dashboard-only {
//     display: none !important; //hide, then show on dashboard
// }
/*Dashboard / Meet The Team
---------------------------*/
.page-template-page-dashboard {
    .white {
        color: $white;
    }
    .holder {
        width: 100%;
    }
    .third {
        @include respond-to(large) {
            min-height: 21em;
        }
    }
    .team-pic {
        display: block;
        padding-top: .75em;
        margin: 0 auto -2.2em;
        width: 65vw;
        border-radius: 50%;
        background-position: center center;
        background-size: cover;
        border: 5px solid $white;
        @include respond-to(small) {
            width: 85vw;
        }
        @include respond-to(large) {
            display: inline-block;
            padding-top: 0;
            height: 21.3vw;
            width: 100%;
        }
    }
    .team-pic-fix {
        position: relative;
        z-index: 5;
        background-color: #fff;
    }
    .name-underline {
        text-align: center;
        font-size: 1.3em;
        border-bottom: 1px solid $orange;
        padding: 0.5em;
        margin: 0 auto 0.6em;
        display: block;
        width: 44vw;
        max-width: 100%;
        @include respond-to(large) {
            width: 17vw;
        }
    }
    .employee-description {
        text-align: center;
        font-size: .8em;
        padding: 0 0 1.5em;
    }
    .get-in-touch-wrap {
        padding-bottom: 3em;
        .wpcf7-form {
            max-width: 55em;
            margin: 0 auto;
        }
        #full-name {
            border-radius: 0;
            border: 2px solid $blue;
            float: left;
            width: 33.33%;
            padding: 1em;
            @include respond-to(small) {
                width: 100%;
                border-bottom: 0;
            }
            &:focus {
                outline: none;
            }
        }
        #email {
            border-radius: 0;
            border: 2px solid $blue;
            float: left;
            width: 33.33%;
            padding: 1em;
            border-left: 0;
            border-right: 0;
            @include respond-to(small) {
                width: 50%;
                border-left: 2px solid $blue;
            }
            &:focus {
                outline: none;
            }
        }
        #your-subject {
            border-radius: 0;
            border: 2px solid $blue;
            float: left;
            width: 33.33%;
            padding: 1em;
            @include respond-to(small) {
                width: 50%;
            }
            &:focus {
                outline: none;
            }
        }
        #your-message {
            width: 100%;
            border-radius: 0;
            border: 2px solid $blue;
            border-top: 1px solid $blue;
            border-bottom-left-radius: 1.8em;
            padding: 1em;
            height: 7em;
            @include respond-to(small) {
                height: 5em;
            }
            &:focus {
                outline: none;
            }
        }
        .send-message-wrap {
            float: right;
            width: 15.1em;
            margin-top: -1.3em;
            margin-bottom: 0em;
        }
        .wpcf7-submit {
            width: 12.6em;
            font-size: 1.2em;
            padding-top: 0.4em;
            background-image: url("img/buttons/send-message.png") !important;
            background-color: transparent !important;
            background-size: cover;
            background-repeat: no-repeat;
            border: 0 !important;
            box-shadow: none !important;
            text-shadow: none !important;
            margin: 0 0 !important;
            border-radius: 0 !important;
            outline: 0 !important;
        }
        .wpcf7-response-output {
            margin: 2.7em 0.5em 0.2em;
            border: 2px solid $blue !important;
        }
    }
    // .dashboard-only {
    //     display: inline-block !important;
    // }
}

/* Testimonials
---------------*/
.page-template-page-testimonials {
    .testimonial-type {
        display: block;
        float: left;
        width: 100%;
        text-align: left;
        font-weight: 700;
        font-family: $sansHeading;
        font-size: 1.3em;
    }
    .black-line {
        background-color: #000;
        float: left;
        width: 100%;
    }
    .container {
        display: inline-block;
    }
    .half {
        text-align: left;
        font-size: .8em;
        padding-right: 0;
        display: inline-block;
        .stars {
            .fa {
                font-size: 1.7em;
                padding: 0 0.2em 0.4em 0;
                color: $orange;
            }
        }
        .source {
            font-family: $sansHeading;
            text-transform: uppercase;
            font-weight: 700;
            float: right;
        }
    }
}

/* Press Releases
-----------------*/
.page-template-page-press-releases, .single-press_release {
    #primary {
        padding: 1em 8% 0;
        text-align: center;
        @include respond-to(large) {
            padding: 1em 0 2em 15%;
        }
    }
    #secondary {
        padding-top: 0;
        @include respond-to(medium ) {
            padding: 0 8% 2em;
            margin-top: -4em;
        }
    }
    .one-third {
        margin-top: 0.4em;
        margin-right: 0 !important;
    }
    section {
        padding: 0 !important;
    }
    .section-heading {
        text-align: center;
        font-size: 3em;
        line-height: 1;
        margin-top: 1em;
        margin-bottom: 0.3em;
    }
    .headline {
        font-family: $sansHeading;
        font-weight: 700;
        text-transform: uppercase;
        text-align: left;
        margin: 0 0 0.1em;
        font-size: 1.6em;
    }
    .list-title {
        margin-bottom: 0.3em;
        margin-top: 2em;
        letter-spacing: 2px;
    }
    .press-link {
        display: inline-block;
        color: $charcoal;
        text-decoration: none;
        padding-bottom: 0.3em;
        font-family: $sansHeading;
        &:hover {
            color: $blue;
        }
    }
    .hex-button {
        cursor: pointer;
        @include respond-to(large) {
            display: none;
        }
    }
    p {
        text-align: left;
    }
}
.single-press_release {
    .entry-content {
        padding: 0;
    }
    .post-navigation {
        margin: 0 0 3em 8%;
        @include respond-to(large) {
            display: none;
        }
    }
}

/* Responsive styles
--------------------*/
@include respond-to(large) {
    #mobile-masthead {
        display: none;
    }
    #portal-mobile-masthead {
        display: none;
    }
    #mobile-navigation {
        display: none;
    }
    .mobile-word-wrap {
        display: none;
    }
    #sticky-footer {
        display: none;
    }
    #wpsl-result-list {
        display: none;
    }
}

@include respond-to(medium) {
    .page-template-page-storage, .page-template-page-careers, .blog {
        #page {
            background-image: url("img/tile-light.png");
        }
    }
    #page {
        padding-top: 20vw;
        position: relative;
        z-index: 0;
        .word-logo {
            max-width: 18em;
            margin: 0 auto 0.8em;
            display: block;
        }
    }
    #secondary, #masthead {
        display: none;
    }
    #nav-trigger {
        position: absolute;
        padding: 1.2em;
        z-index: 1000;
        .fa {
            color: $charcoal;
            font-size: 2.4em;
        }
    }
    .mm-menu {
        z-index: 1500 !important;
    }
    .mm-menu .mm-listview > li:after {
         border: none !important;
         border-color: rgba(0, 0, 0, 0) !important;
    }
    #mobile-masthead {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 200;
        font-size: 3vw;
        #mobile-logo-wrap {
            position: absolute;
            left: 0;
            right: 0;
            text-align: center;
            .home-link {
                position: relative;
                top: 0.4em;
                display: inline-block;
            }
        }
        .mobile-blue-bar {
            background-color: $blue;
            position: relative;
            height: 5em;
        }
        .band-aid {
            background-color: $blue;
            border-radius: 50%;
            width: 6em;
            height: 6em;
            z-index: 1;
            position: absolute;
            left: 0.5em;
            right: 0.5em;
            top: -0.6em;
        }
        .m-logo {
            width: 7em;
            padding: 0 1em;
            display: block;
            margin-right: auto;
            margin-left: auto;
            position: relative;
            z-index: 2;
        }
    }
    /* Portal Nav
    -------------*/
    #portal-mobile-masthead {
        position: fixed;
        top: 0;
        left: -1px;
        right: 0;
        margin-left: -0.1em;
        z-index: 200;
        font-size: 3vw;
        height: 6.8em;

        background-image: url("img/bg-portal-desktop.png");
        #nav-trigger .fa {
                color: $white;
        }
    }

    .portal-mobile-logo {
        width: 20em;
        margin: 1.3em auto 0.8em;
        display: block;
    }
    /* MMenu
    ------------*/
    #mobile-navigation {
        color: $white;
        background-color: $charcoal;
        text-align: center;
        .blue {
            color: $blue;
        }
        .mm-navbar {
            border: none;
            .mm-title {
                margin: 0.12em 0;
                font-size: 21vw;
                width: 2.7em;
                height: 0.6em;
                background-image: url("img/mobile-logo-white.png");
                background-repeat: no-repeat;
                background-size: contain;
                display: inline-block;
            }
        }
        .mm-hasnavbar {
            padding-top: 0;
        }
        .mm-listview {
            margin: 25vw 5px 20px;
        }
        .mm-listview > li {
            position: inherit;
            border-top: 1px dashed $white;
            font-size: 1.4em;
            font-weight: 700;
            letter-spacing: 1px;
            font-family: $sansHeading;
            padding: 1em;
            a {
                font-size: 6vw;
                padding: 0.3em 0.4em 0.1em 0.4em;
                line-height: 1;
            }
        }
        li.first {
            border: none;
        }
        .mm-listview > li.mmenu-close {
            position: absolute;
            top: 0;
            right: 0.2em;
            border: none;
            font-size: 3em;
            padding: 0;
            .fa {
                font-size: 9vw;
                padding: 0.5em 0.3em;
            }
        }
        .menu-item-type-custom {
            padding: 0 0 !important;
            margin-left: 0.7em !important;
            font-size: 6vw !important;
            &.facebook, &.twitter, &.linkedin, &.instagram {
                border: none !important;
                display: inline-block;
                float: left;
                padding: 0 0;
                margin-left: 0.5em;
                .fa {
                    &::before {
                        color: $charcoal;
                        background-color: $white;
                        border-radius: 50%;
                        padding: 0.7em !important;
                        min-width: 1.65em;
                        line-height: 3;
                    }
                }
            }
            &.facebook {
                // margin-left: 21.5% !important; // for 3 items
                margin-left: 13%; // for 4 items
                .fa:before {
                    padding: 0.7em  0.85em !important;
                }
            }
            a {
                padding: 0 0 !important;
            }
        }
        .mm-menu > .mm-panel {
            padding-left: 4vw;
            padding-right: 4vw;
        }
    }
    #menu-portal-mobile {
        .mm-navbar {
            background-image: url("img/bg-portal-desktop.png");
            height: 16vw;
        }
    }

    .img-tag {
        display: none;
    }
    .banner-image {
        height: 60vw;
    }
    .home .site-footer {
        padding-bottom: 25vw;
        h3 span {
            display: block;
        }
    }
    #toggle-wrap {
        display: block;
    }
    #our-history {
        display: none;
    }
}
@include respond-to(small) {
    section.brown .custom-next {
        right: 4vw;
    }
    section.brown .custom-prev {
        left: 4vw;
    }
}

/* Landscape
------------*/
@media only screen
  and (max-device-width: 800px)
  and (orientation: landscape) {
    #sticky-footer {
        display: none;
    }
    #mobile-masthead, #portal-mobile-masthead {
        font-size: 1.8vw;
    }
    #page {
        padding-top: 12.2vw;
    }
    .home .site-footer {
        padding-bottom: 1em;
    }
}

/* Gravity Forms
----------------*/

.gform_wrapper ul.gfield_checkbox li input[type=checkbox], .gform_wrapper ul.gfield_radio li input[type=radio] {
    padding: 8px !important;
    
}
.gform_wrapper .gfield_checkbox li label, .gform_wrapper .gfield_radio li label {
    line-height: 2 !important;
}

.gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield div.ginput_complex span.ginput_left select,
.gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield div.ginput_complex span.ginput_right select, 
.gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield input[type=radio], 
.gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield select {
    border-radius: 0;
    background: none;
    border: 1px solid $blue;
    cursor: pointer;
    padding: 0.5em 1em;
    width: 100%;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    -moz-appearance: none;
    appearance: none;
    text-overflow: ''; /* this is important! */
    padding-right: 1.5em;
    width: 12em;
    z-index: 1;
    position: relative;
    background-color: transparent;
}
.gform_wrapper{
    input[type="checkbox"],
    input[type="radio"] {
        -moz-appearance: none;
        -ms-appearance: none;
        -webkit-appearance: none;
        background-color: transparent;
        width: 1em;
        height: 1em;
        border: 1px solid $blue;
        cursor: pointer;
        &:focus {
            outline: 0;
        }
        &:checked {
            background-color: $blue;
        }
    }
    input[type="file"] {
        line-height: 0;
        font-size: 16px;
    }
}

body .gform_wrapper .ginput_container_select {
    position: relative;
}

body .gform_wrapper .ginput_container_select:after {
    font-family: "FontAwesome";
    content: "\f107";
    display: inline-block;
    font-size: 1.3em;
    color: $blue;
    margin-left: -1.2em;
    position: absolute;
    top: 0.4em;
    z-index: 0;   
}


.gform_wrapper .gform_footer input[type=image] {
        height: 3.4em;
        width: 12em;
        background-color: transparent !important;
        background-size: cover;
        background-repeat: no-repeat;
        border: 0 !important;
        box-shadow: none !important;
        text-shadow: none !important;
        margin: 0 0 !important;
        border-radius: 0 !important;
        outline: 0 !important;
    }