/*
Theme Name: bargainstorage
Author: Nice Touch
Author URI: http://nicetouch.co/
Description: Clean, responsive theme custom-made for Bargain Storage
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: bargainstorage

*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Variables
# Normalize
# Typography
# Elements
# Forms
# Navigation
    ## Links
    ## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
    ## Asides
    ## Comments
# Infinite scroll
# Media
    ## Captions
    ## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #25252B; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit; }

body {
  background: #fff;
  /* Fallback for when there is no custom background color defined. */ }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ""; }

blockquote,
q {
  quotes: "" ""; }

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em; }

ul,
ol {
  margin: 0 0 1.5em 3em; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em; }

dt {
  font-weight: bold; }

dd {
  margin: 0 1.5em 1.5em; }

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */ }

table {
  margin: 0 0 1.5em;
  width: 100%; }

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  box-shadow: none;
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1;
  padding: .6em 1em .4em;
  text-shadow: none; }

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  box-shadow: none; }

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  border-color: #aaa #bbb #bbb;
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15); }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px; }

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
  color: #111; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
  padding: 3px; }

textarea {
  padding-left: 3px;
  width: 100%; }

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */ }

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto; }

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table; }

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both; }

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
  margin: 0 0 1.5em; }

/* Make sure select elements fit in widgets. */
.widget select {
  max-width: 100%; }

/* Search widget. */
.widget_search .search-submit {
  display: none; }

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
  display: block; }

.byline,
.updated:not(.published) {
  display: none; }

.single .byline,
.group-blog .byline {
  display: inline; }

.page-links {
  clear: both;
  margin: 0 0 1.5em; }

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none; }

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word; }

.bypostauthor {
  display: block; }

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none; }

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block; }

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%; }

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%; }

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin: 0 auto; }

.wp-caption-text {
  text-align: center; }

.wp-caption .wp-caption-text {
  margin: 0.8075em 0; }

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em; }

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%; }

.gallery-columns-2 .gallery-item {
  max-width: 50%; }

.gallery-columns-3 .gallery-item {
  max-width: 33.33%; }

.gallery-columns-4 .gallery-item {
  max-width: 25%; }

.gallery-columns-5 .gallery-item {
  max-width: 20%; }

.gallery-columns-6 .gallery-item {
  max-width: 16.66%; }

.gallery-columns-7 .gallery-item {
  max-width: 14.28%; }

.gallery-columns-8 .gallery-item {
  max-width: 12.5%; }

.gallery-columns-9 .gallery-item {
  max-width: 11.11%; }

.gallery-caption {
  display: block; }

/* Mixins
---------*/
@font-face {
  font-family: 'CoffeeService';
  src: url("fonts/CoffeeService/CoffeeService.otf"); }

@font-face {
  font-family: 'Century731';
  src: url("fonts/Century731/tt0558m_.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Century731';
  src: url("fonts/Century731/tt0559m_.ttf");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Century731';
  src: url("fonts/Century731/tt0560m_.ttf");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Century731';
  src: url("fonts/Century731/tt0561m_.ttf");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'CenturyGothicPro';
  src: url("fonts/CenturyGothic/CenturyGothicPro.otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'CenturyGothicPro-Italic';
  src: url("fonts/CenturyGothic/CenturyGothicPro.otf");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'CenturyGothicPro';
  src: url("fonts/CenturyGothic/CenturyGothicPro-Bold.otf");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'CenturyGothicPro';
  src: url("fonts/CenturyGothic/CenturyGothicPro-BoldItalic.otf");
  font-weight: bold;
  font-style: italic; }

body {
  background-color: grey; }

#page {
  max-width: 1400px;
  margin: 0 auto;
  background-color: #fff; }

/* Colors
---------*/
/* Fonts & Typography
---------------------*/
body {
  font-family: "Century731", TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif; }
  @media (min-width: 1440px) {
    body {
      font-size: 1vw; } }

h1 {
  font-family: "CenturyGothicPro", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 3.998em;
  text-transform: uppercase;
  font-weight: 700; }
  @media (max-width: 480px) {
    h1 {
      font-size: 3.8em; } }

h2 {
  font-family: "CenturyGothicPro", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 2.827em;
  text-transform: uppercase;
  font-weight: 700; }
  @media (max-width: 480px) {
    h2 {
      font-size: 2.3em; } }

h3 {
  font-family: "CenturyGothicPro", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.999em;
  text-transform: uppercase;
  font-weight: 700; }

h4 {
  font-family: "Century731", TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif;
  font-size: 1.2em;
  margin-bottom: 0.2em;
  text-transform: uppercase;
  font-weight: normal; }

h5 {
  font-family: "CenturyGothicPro", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 700; }

h6 {
  font-family: "CenturyGothicPro", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 0.707em;
  text-transform: uppercase;
  font-weight: 700; }

p {
  margin-top: 0em;
  margin-bottom: 1em; }

/* Section/Layout
-----------------*/
section {
  display: inline-block;
  width: 100%;
  padding: 1em 8% 2em;
  margin-bottom: -0.25em; }
  @media (min-width: 769px) {
    section {
      padding: 1em 10% 2em; } }
  section.grid-bg {
    padding-top: 3em;
    position: relative;
    background-color: #D8D8D8;
    background-image: url("img/tile-light.png"); }
  section.pos-rel {
    position: relative; }
  section.brown {
    background-color: #827F78;
    background-image: url("img/tile-dark.jpg");
    color: #EAE6E3; }
  section.unpad {
    padding: 1em 0 0 0; }
  section.black {
    background-color: #282629;
    position: relative; }

.two-thirds {
  margin-top: 1em;
  margin-bottom: 2em; }
  @media (min-width: 769px) {
    .two-thirds {
      width: 66.10169%;
      float: left;
      margin-right: 1.69492%; }
      .two-thirds:last-child {
        float: right;
        margin-right: 0; } }

.one-third {
  margin-top: 1em;
  margin-bottom: 2em; }
  @media (min-width: 769px) {
    .one-third {
      width: 32.20339%;
      float: left;
      margin-right: 1.69492%;
      padding-right: 1em; }
      .one-third:last-child {
        float: right;
        margin-right: 0;
        padding-right: 1em; } }

.pad {
  padding-bottom: 3em; }

.vertical-parent {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.vertical-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

/* Navigation
------------*/
.logged-in #menu-item-663 {
  display: none; }

#site-navigation {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  float: right;
  width: 100%;
  margin-top: -0.4em;
  padding-top: 0.5em;
  text-align: center;
  background-color: #282629; }
  #site-navigation:after {
    content: " ";
    display: block;
    clear: both; }
  #site-navigation ul {
    margin: 0;
    padding: 0; }
    #site-navigation ul li {
      display: inline-block; }
    #site-navigation ul .current-menu-item a {
      color: #63A7B6; }
    #site-navigation ul a {
      display: inline-block;
      padding: 0.5em 1.5em 0.5em;
      font-size: 1.1em;
      font-family: "CenturyGothicPro", Helvetica Neue, Helvetica, Arial, sans-serif;
      text-transform: uppercase;
      text-decoration: none;
      word-spacing: 3px;
      color: #EAE6E3; }

/* Portal header
----------------*/
.portal-bg {
  background-image: url("img/bg-portal-desktop.png");
  padding-top: 0.1em;
  margin-left: -0.1em;
  background-size: cover; }

.portal-nav-wrapper {
  float: right; }

#mini-navigation {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  text-align: center;
  font-weight: 700;
  float: left;
  margin-right: 0.8em; }
  #mini-navigation:after {
    content: " ";
    display: block;
    clear: both; }
  #mini-navigation ul {
    margin: 0; }
    #mini-navigation ul li {
      display: inline-block; }
    #mini-navigation ul a {
      display: inline-block;
      padding: 0.5em 0.6em 0.5em;
      font-size: 0.5em;
      font-family: "CenturyGothicPro", Helvetica Neue, Helvetica, Arial, sans-serif;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 1px;
      color: #EAE6E3; }

.user-name {
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 0.5em;
  font-weight: 700;
  font-family: "CenturyGothicPro", Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #EAE6E3;
  padding: 1.1em 0.5em 0.5em;
  float: left; }

.logout-button {
  width: 5.5em;
  float: left;
  margin: -0.4em 0 0 1.2em; }

.portal-social-wrapper {
  float: left;
  margin: 0.2em 1.5em; }
  .portal-social-wrapper .fa::before {
    font-size: 0.7em;
    color: #282629;
    background-color: #EAE6E3;
    border-radius: 50%;
    padding: 0.3em 0.4em;
    margin: 0 0.2em; }
  .portal-social-wrapper .fa-facebook::before {
    padding: 0.3em 0.6em; }

.portal-logo-wrapper {
  padding-top: 3em;
  width: 19em;
  margin: 2em auto 0.5em; }
  .portal-logo-wrapper img {
    width: 17em; }

#portal-navigation {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  width: 100%;
  padding-top: 0.3em;
  padding-bottom: 1em;
  text-align: center;
  font-weight: 700; }
  #portal-navigation:after {
    content: " ";
    display: block;
    clear: both; }
  #portal-navigation ul {
    margin: 0;
    padding: 0; }
    #portal-navigation ul li {
      display: inline-block; }
    #portal-navigation ul a {
      display: inline-block;
      padding: 0.5em 0.5em 0.5em;
      font-size: 1.1em;
      font-family: "CenturyGothicPro", Helvetica Neue, Helvetica, Arial, sans-serif;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 2px;
      color: #EAE6E3; }
      #portal-navigation ul a:hover {
        color: #63A7B6; }

.skip-link {
  display: none; }

/* Marketing header
----------------*/
.top-wrapper {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  width: 100%;
  background-color: #63A7B6;
  font-size: 1.2em;
  padding: 0.7em 0; }
  .top-wrapper:after {
    content: " ";
    display: block;
    clear: both; }
  @media (min-width: 1440px) {
    .top-wrapper {
      font-size: 1.4vw; } }
  .top-wrapper a {
    text-decoration: none;
    color: #282629; }
  .top-wrapper .left {
    width: 36.44068%;
    float: left;
    margin-right: 1.69492%;
    font-family: "CenturyGothicPro", Helvetica Neue, Helvetica, Arial, sans-serif;
    text-align: center; }
    .top-wrapper .left .content {
      border-left: 1px solid #282629;
      border-right: 1px solid #282629;
      display: inline-block;
      float: right;
      min-height: 4.5em;
      padding: 0 3em; }
    .top-wrapper .left img {
      margin-top: 0.3em;
      width: 1.3em; }
  .top-wrapper .middle {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
    height: 4.3em;
    text-align: center; }
    .top-wrapper .middle .logo {
      display: inline-block; }
      .top-wrapper .middle .logo img {
        margin-bottom: -0.3vw;
        width: 100%; }
  .top-wrapper .right {
    width: 36.44068%;
    float: left;
    margin-right: 1.69492%;
    float: right;
    margin-right: 0;
    font-family: "CenturyGothicPro", Helvetica Neue, Helvetica, Arial, sans-serif; }
    .top-wrapper .right .content {
      border-left: 1px solid #282629;
      border-right: 1px solid #282629;
      display: inline-block;
      float: left;
      min-height: 4.5em;
      padding: 0 3em; }
  .top-wrapper h5 {
    margin: 0 auto;
    max-width: 7em;
    font-weight: 700;
    font-size: 0.6em;
    line-height: 1.2;
    text-align: center; }

.social {
  margin: 0.5em 0 0.75em 0; }
  .social .fa {
    color: #63A7B6;
    background-color: black;
    border-radius: 50%;
    padding: 0.3em 0.4em;
    min-width: 1.65em; }
  .social .fa-facebook {
    padding-left: 0.5em; }

/* Content
----------*/
#gif-hero {
  padding-bottom: 1em; }
  #gif-hero img {
    width: 100%; }

.banner-image {
  height: 38vw;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.section-heading {
  font-family: "CoffeeService", TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif;
  font-weight: normal;
  margin: .4em 0 .2em;
  letter-spacing: 1px;
  word-spacing: 1px;
  text-transform: none; }

.entry-content {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }
  .entry-content:after {
    content: " ";
    display: block;
    clear: both; }
  .entry-content .holder {
    display: inline-block; }
    .entry-content .holder .fa {
      margin-bottom: 0.1em; }
    .entry-content .holder .faux-bulb {
      width: 4.6em; }
    .entry-content .holder h5 {
      letter-spacing: 1px;
      font-size: .95em;
      min-height: 2.4em;
      margin-bottom: 1em; }
    .entry-content .holder p {
      font-size: .95em;
      text-align: center;
      line-height: 1.9em; }
  .entry-content .half {
    margin-top: 1em;
    margin-bottom: 1em; }
    @media (min-width: 769px) {
      .entry-content .half {
        width: 49.15254%;
        float: left;
        margin-right: 1.69492%;
        padding-right: 1em; }
        .entry-content .half:nth-child(odd) {
          float: right;
          margin-right: 0;
          padding-right: 0;
          padding-left: 1em; } }
  .entry-content .quarter {
    margin-top: 1em;
    margin-bottom: 2em; }
    @media (min-width: 480px) {
      .entry-content .quarter {
        width: 49.15254%;
        float: left;
        margin-right: 1.69492%;
        padding-right: 1em; }
        .entry-content .quarter:nth-child(4n) {
          float: right;
          margin-right: 0; } }
    @media (min-width: 769px) {
      .entry-content .quarter {
        width: 23.72881%;
        float: left;
        margin-right: 1.69492%;
        padding-right: 1em; }
        .entry-content .quarter:nth-child(4n) {
          float: right;
          margin-right: 0; } }
  @media (min-width: 769px) {
    .entry-content .third {
      width: 32.20339%;
      float: left;
      margin-right: 1.69492%;
      margin-top: 1em;
      margin-bottom: 2em;
      padding-right: 1em; }
      .entry-content .third:nth-child(3n) {
        float: right;
        margin-right: 0;
        padding-right: 1em; } }
  .entry-content .two-thirds {
    margin-top: 1em;
    margin-bottom: 2em; }
    @media (min-width: 769px) {
      .entry-content .two-thirds {
        width: 66.10169%;
        float: left;
        margin-right: 1.69492%;
        padding-right: 0; }
        .entry-content .two-thirds .third:last-child {
          float: right;
          margin-right: 0;
          padding-right: 0; } }
  .entry-content .three-fourths {
    margin-top: 1em;
    margin-bottom: 2em; }
    @media (min-width: 769px) {
      .entry-content .three-fourths {
        width: 74.57627%;
        float: left;
        margin-right: 1.69492%; }
        .entry-content .three-fourths:last-child {
          float: right;
          margin-right: 0; } }
  .entry-content .section-tagline {
    font-size: 1.1em;
    line-height: 1.8em; }
    @media (min-width: 769px) {
      .entry-content .section-tagline {
        margin: 0 7% 0; } }
  .entry-content .fa {
    color: #63A7B6;
    font-size: 7em; }

.hex-button {
  display: inline-block;
  margin: 1.5em 0 2em; }
  .hex-button img {
    width: 15em; }

/* Home
-------*/
.home #wpsl-result-list {
  display: none; }

/* Who We Are
------------*/
.page-template-page-who .third {
  text-align: left; }

.page-template-page-who .team-pic {
  display: block;
  margin: 1em auto -2.2em;
  width: 65vw;
  border-radius: 50%;
  background-position: center center;
  background-size: cover;
  border: 5px solid #EAE6E3;
  position: relative;
  z-index: 1; }
  @media (max-width: 480px) {
    .page-template-page-who .team-pic {
      width: 80vw; } }
  @media (min-width: 769px) {
    .page-template-page-who .team-pic {
      display: inline-block;
      padding-top: 0;
      height: 21.3vw;
      width: 100%; } }

.page-template-page-who .team-pic-fix {
  position: relative;
  z-index: 5;
  background-image: url("img/tile-light.png"); }

.page-template-page-who .name-underline {
  text-align: center;
  font-size: 1.3em;
  border-bottom: 1px solid #C9563D;
  padding: 0.5em;
  margin: 0 auto 1em;
  display: block;
  width: 44vw; }
  @media (min-width: 769px) {
    .page-template-page-who .name-underline {
      width: 17vw; } }

.page-template-page-who .employee-description {
  text-align: center;
  font-size: .8em;
  padding: 0 0 1.5em; }

.page-template-page-who .employee-source {
  font-size: .75em;
  display: block;
  text-align: center; }

/* Careers
----------*/
.page-template-page-careers .section-tagline {
  padding-bottom: 1em; }

.page-template-page-careers form {
  text-align: left;
  width: 98%;
  margin: auto; }
  @media (min-width: 769px) {
    .page-template-page-careers form {
      width: 50%; } }

.page-template-page-careers input[type="text"],
.page-template-page-careers .wpcf7-textarea,
.page-template-page-careers .wpcf7-select {
  border-radius: 0;
  background: none;
  border: 1px solid #63A7B6;
  cursor: pointer;
  padding: 0.5em 1em;
  width: 100%; }

.page-template-page-careers .wpcf7-select {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  -moz-appearance: none;
  appearance: none;
  text-overflow: '';
  /* this is important! */
  padding-right: 1.5em;
  width: 12em;
  z-index: 1;
  position: relative;
  background-color: transparent; }

.page-template-page-careers select::-ms-expand {
  display: none; }

.page-template-page-careers .select-wrap {
  display: inline-block;
  position: relative; }

.page-template-page-careers .select-wrap:after {
  font-family: "FontAwesome";
  content: "\f107";
  display: inline-block;
  font-size: 1.3em;
  color: #63A7B6;
  margin-left: -1.2em;
  position: absolute;
  top: 0.4em;
  z-index: 0; }

.page-template-page-careers .checkbox-474 .wpcf7-list-item {
  display: block; }

.page-template-page-careers input[type="checkbox"],
.page-template-page-careers input[type="radio"] {
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  width: 1em;
  height: 1em;
  border: 1px solid #63A7B6;
  cursor: pointer; }
  .page-template-page-careers input[type="checkbox"]:focus,
  .page-template-page-careers input[type="radio"]:focus {
    outline: 0; }
  .page-template-page-careers input[type="checkbox"]:checked,
  .page-template-page-careers input[type="radio"]:checked {
    background-color: #63A7B6; }

.page-template-page-careers .checkbox-194 span.wpcf7-list-item.last, .page-template-page-careers .checkbox-29 span.wpcf7-list-item.last {
  margin-left: 0.5em; }

.page-template-page-careers .your-message .wpcf7-textarea {
  height: 9em; }

.page-template-page-careers span.wpcf7-list-item {
  margin-left: 0; }

.page-template-page-careers .job {
  text-align: left;
  padding-right: 2em; }
  .page-template-page-careers .job:nth-child(even) {
    padding-left: 2em; }
  .page-template-page-careers .job .title {
    font-size: 1.2em;
    letter-spacing: 1.5px;
    margin: 0.7em 0; }

.page-template-page-careers label.fileContainer {
  cursor: pointer;
  text-decoration: underline; }

.page-template-page-careers .submit-wrap {
  width: 8.9em;
  margin: 0 auto 1em; }

.page-template-page-careers input.wpcf7-form-control.wpcf7-submit {
  height: 3.4em;
  width: 12em;
  font-size: 0.75em;
  background-image: url("img/buttons/submit.png") !important;
  background-color: transparent !important;
  background-size: cover;
  background-repeat: no-repeat;
  border: 0 !important;
  box-shadow: none !important;
  text-shadow: none !important;
  margin: 0 0 !important;
  border-radius: 0 !important;
  outline: 0 !important; }

.page-template-page-careers span.wpcf7-form-control-wrap.your-message {
  margin-top: 1em;
  display: inline-block;
  width: 100%; }

.page-template-page-careers .wpcf7-response-output {
  border: 2px solid #63A7B6 !important; }

/* Reports
----------*/
.report-downloads {
  list-style: none;
  margin: 0 auto;
  padding: 1em; }
  .report-downloads a {
    color: #282629;
    font-family: "CenturyGothicPro", Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1.3em;
    line-height: 2; }
    .report-downloads a:hover {
      color: #63A7B6; }

/* Blog
-------*/
.blog, .single, .archive, .search {
  color: #282629; }
  .blog #secondary, .single #secondary, .archive #secondary, .search #secondary {
    padding-top: 1.6em; }
    .blog #secondary .tagcloud a, .single #secondary .tagcloud a, .archive #secondary .tagcloud a, .search #secondary .tagcloud a {
      display: inline-block;
      padding: 0.8em 0.7em 0.5em 0.7em;
      margin: 0.1em;
      margin-bottom: 0.8em;
      color: #63A7B6;
      border: 1px solid #4E4F51;
      border-radius: 0.4em;
      font-size: 0.9em !important;
      font-family: "CenturyGothicPro", Helvetica Neue, Helvetica, Arial, sans-serif;
      text-transform: uppercase; }
    .blog #secondary .usa-map, .single #secondary .usa-map, .archive #secondary .usa-map, .search #secondary .usa-map {
      width: 70%;
      margin: 1em 15%; }
  .blog .entry-content, .single .entry-content, .archive .entry-content, .search .entry-content {
    text-align: left;
    padding: 0 1em 1em 1em; }
    @media (min-width: 769px) {
      .blog .entry-content, .single .entry-content, .archive .entry-content, .search .entry-content {
        padding: 0 1em 1em 7.5vw; } }
    .blog .entry-content .fa, .single .entry-content .fa, .archive .entry-content .fa, .search .entry-content .fa {
      color: #282629;
      font-size: 1em;
      margin-left: 1em; }
  .blog section, .single section, .archive section, .search section {
    padding: 0 10em 0; }
  .blog p, .single p, .archive p, .search p {
    margin-top: 1em; }
  .blog a, .single a, .archive a, .search a {
    color: #282629;
    text-decoration: none; }
  .blog .widget-title, .single .widget-title, .archive .widget-title, .search .widget-title {
    font-size: 1.5em;
    margin-bottom: .05em; }
  .blog .entry-title, .single .entry-title, .archive .entry-title, .search .entry-title {
    margin-bottom: .5em;
    color: #C9563D;
    clear: both; }
    .blog .entry-title a, .single .entry-title a, .archive .entry-title a, .search .entry-title a {
      color: #C9563D; }
  .blog .entry-meta, .single .entry-meta, .archive .entry-meta, .search .entry-meta {
    font-size: 0.8em; }
  .blog .header-image, .single .header-image, .archive .header-image, .search .header-image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 38vw;
    width: 100%; }
    .blog .header-image img, .single .header-image img, .archive .header-image img, .search .header-image img {
      display: block; }
    @media (max-width: 768px) {
      .blog .header-image, .single .header-image, .archive .header-image, .search .header-image {
        height: 65vw; } }
  .blog .read-more-button, .single .read-more-button, .archive .read-more-button, .search .read-more-button {
    display: block;
    height: 2.5em;
    float: right;
    margin-top: 1em;
    margin-bottom: 1em; }

.single .entry-title {
  margin: 2em 0 0 7.5vw; }

.archive #content, .blog #content {
  background-image: url("img/tile-light.png"); }

.archive .read-more, .blog .read-more {
  display: block; }

.search #content {
  background-image: url("img/tile-light.png"); }

.search section {
  padding: 0 3em 0 13%; }

.search .page-title {
  font-size: 3.7em; }

.search .tags-links {
  display: none; }

/* Footer
---------*/
.site-footer {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: #EAE6E3;
  background-color: #282629;
  z-index: 4;
  position: relative;
  text-align: center;
  padding: 0 1em 1em; }
  .site-footer:after {
    content: " ";
    display: block;
    clear: both; }
  .site-footer .footer-logo {
    height: 6.2em;
    margin: -2em 0 1.3em; }
  .site-footer .address {
    margin: 0;
    letter-spacing: 1.1px;
    font-size: 1.2em;
    word-spacing: 1.7px;
    text-transform: uppercase; }
  .site-footer .social .fa {
    background-color: #fff;
    color: #282629; }
  .site-footer .copyright {
    font-size: 0.8em;
    letter-spacing: 1.1px; }

#sticky-footer {
  background-color: #63A7B6;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 3vw; }
  #sticky-footer:after {
    content: " ";
    display: block;
    clear: both; }
  #sticky-footer #gif-wrap {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
    text-align: center; }
    #sticky-footer #gif-wrap img {
      border-radius: 50%;
      border: 0.5em solid #63A7B6;
      margin-top: -2em;
      width: 80%;
      margin-left: auto;
      margin-right: auto; }
  #sticky-footer .link-wrap {
    width: 36.44068%;
    float: left;
    margin-right: 1.69492%;
    font-size: 3vw; }
    #sticky-footer .link-wrap.right {
      float: right;
      margin-right: 0; }
  #sticky-footer .sticky-link {
    padding: 1.5em 1em 1.1em 1em;
    width: 100%;
    display: inline-block;
    font-family: "CenturyGothicPro", Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1.1em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1.5px;
    color: #282629;
    text-align: center;
    font-weight: 700; }

/* Maps
-------*/
.scallop-top {
  background: url("img/border-top.png");
  position: absolute;
  top: -0.4em;
  left: 0;
  right: 0;
  width: 100%;
  height: 1em;
  z-index: 100; }
  .scallop-top.black {
    background: url("img/border-top-black.png"); }
  .scallop-top.white-border {
    background: url("img/border-top-white.png"); }

.scallop-bottom {
  background: url("img/border-bottom.png");
  background-position-y: 100%;
  position: absolute;
  bottom: -0.6em;
  left: 0;
  right: 0;
  width: 100%;
  height: 1em;
  z-index: 100; }
  .scallop-bottom.black {
    background: url("img/border-bottom-black.png");
    background-position-y: 1em; }
  @media (min-width: 769px) {
    .scallop-bottom {
      bottom: -0.7em; } }

/* Reviews, desktop: Salvattore.js column classes
-------------------------------*/
#reviews .column, #mobile-reviews .column {
  float: left; }
  #reviews .column:nth-child(n+1), #mobile-reviews .column:nth-child(n+1) {
    padding-right: 3vw; }
  #reviews .column:nth-last-child(1), #mobile-reviews .column:nth-last-child(1) {
    padding-right: 0em; }

#reviews .size-1of1, #mobile-reviews .size-1of1 {
  width: 100%; }

#reviews .size-1of2, #mobile-reviews .size-1of2 {
  width: 50%; }

#reviews .size-1of4, #mobile-reviews .size-1of4 {
  width: 25%; }

#reviews .review, #mobile-reviews .review {
  color: #4E4F51;
  font-size: .8em;
  text-align: left;
  padding-bottom: 4em; }
  #reviews .review .fa, #mobile-reviews .review .fa {
    font-size: 2.1em;
    padding: 0 0.2em 0.4em 0;
    color: #C9563D; }
  #reviews .review .source, #mobile-reviews .review .source {
    font-family: "CenturyGothicPro", Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: .7em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: right;
    float: right; }

@media (max-width: 768px) {
  .home #reviews {
    display: none; } }

.home #mobile-reviews {
  display: none; }
  .home #mobile-reviews .review {
    padding-bottom: 0; }
  @media (max-width: 768px) {
    .home #mobile-reviews {
      display: inline-block;
      width: 100%; } }

/* Salvattore.js media queries
------------------------------*/
@media screen and (max-width: 480px) {
  #reviews[data-columns]::before {
    content: '1 .column.size-1of1'; } }

@media screen and (min-width: 481px) and (max-width: 768px) {
  #reviews[data-columns]::before {
    content: '2 .column.size-1of2'; } }

@media screen and (min-width: 769px) {
  #reviews[data-columns]::before {
    content: '4 .column.size-1of4'; } }

/* Reviews, mobile: owl carousel
---------------------------------*/
/* Review slider (brown)
------------------------------*/
section.brown {
  position: relative;
  background-color: #827F78; }
  section.brown .custom-prev {
    position: absolute;
    width: 5vw;
    top: 40%;
    left: 3vw;
    cursor: pointer; }
  section.brown .custom-next {
    position: absolute;
    width: 5vw;
    top: 40%;
    right: 3vw;
    cursor: pointer; }
  section.brown .owl-carousel .owl-item {
    padding: 6vw 12vw 2vw;
    font-size: 1.8em;
    color: #EAE6E3;
    color: #fff;
    cursor: pointer; }

/* WP Store Locator
-------------------*/
.wpsl-search {
  padding: 0 !important;
  margin: 0 auto !important;
  background-color: transparent; }
  @media (min-width: 769px) {
    .wpsl-search {
      margin: 1px auto !important;
      float: none;
      display: inline-block; } }
  @media (max-width: 768px) {
    .wpsl-search input#wpsl-search-input {
      margin: 0 auto !important;
      padding: 1em 0;
      display: inline-block;
      width: 13em !important; }
    .wpsl-search #wpsl-search-btn, .wpsl-search #wpsl-search-wrap div {
      margin-right: 0;
      float: none; }
    .wpsl-search #wpsl-search-wrap #wpsl-search-btn {
      float: none;
      margin: 1em auto !important; }
    .wpsl-search .wpsl-no-filters #wpsl-search-input, .wpsl-search .wpsl-no-filters #wpsl-search-wrap .wpsl-input {
      width: 100% !important; } }
  .wpsl-search #wpsl-search-wrap {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: inline-block;
    width: auto; }
    .wpsl-search #wpsl-search-wrap:after {
      content: " ";
      display: block;
      clear: both; }
    .wpsl-search #wpsl-search-wrap .wpsl-input {
      margin: 1.5em auto 0; }
      @media (min-width: 769px) {
        .wpsl-search #wpsl-search-wrap .wpsl-input {
          margin: 1.5em 0 0 0;
          float: left; } }
    .wpsl-search #wpsl-search-wrap #wpsl-search-input {
      margin: 0em 1em;
      text-align: center;
      font-weight: 700;
      font-family: "CenturyGothicPro", Helvetica Neue, Helvetica, Arial, sans-serif;
      line-height: 1.5;
      padding-top: 0.5em;
      padding-bottom: 0.3em; }
    .wpsl-search #wpsl-search-wrap label {
      font-family: "CoffeeService", TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif;
      font-size: 2.8em;
      letter-spacing: 1px;
      line-height: 0.9; }
      @media (max-width: 480px) {
        .wpsl-search #wpsl-search-wrap label {
          font-size: 2.5em; } }
    .wpsl-search #wpsl-search-wrap .wpsl-search-btn-wrap {
      float: left;
      margin: 0 0 0 1em;
      text-align: center; }
      @media (max-width: 768px) {
        .wpsl-search #wpsl-search-wrap .wpsl-search-btn-wrap {
          width: 100%;
          margin: 0 auto; } }
      .wpsl-search #wpsl-search-wrap .wpsl-search-btn-wrap input {
        float: none;
        display: inline-block;
        margin: 1.25em 0em !important;
        height: auto;
        width: 6.7em;
        background-size: contain !important;
        background-repeat: no-repeat !important; }
        @media (max-width: 768px) {
          .wpsl-search #wpsl-search-wrap .wpsl-search-btn-wrap input {
            height: 2.8em;
            width: 9.7em; } }
  .wpsl-search #wpsl-gmap .gm-style .gm-style-iw {
    text-align: left !important;
    font-weight: 700 !important;
    font-family: "CenturyGothicPro", Helvetica Neue, Helvetica, Arial, sans-serif !important; }
  .wpsl-search .wpsl-input label, .wpsl-search #wpsl-radius label, .wpsl-search #wpsl-category label {
    width: inherit; }
  @media (max-width: 768px) {
    .wpsl-search #wpsl-search-wrap, .wpsl-search #wpsl-results {
      width: 100% !important; } }

#wpsl-result-list {
  text-align: left;
  font-weight: 700;
  font-family: "CenturyGothicPro", Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0 !important;
  padding: .6em 6% 0 !important;
  display: none; }
  #wpsl-result-list li {
    border-bottom: 2px dashed #282629 !important;
    padding: 1em 0 !important;
    min-height: 9.7em !important; }
    @media (min-width: 769px) {
      #wpsl-result-list li {
        width: 32.20339%;
        float: left;
        margin-right: 1.69492%; }
        #wpsl-result-list li:nth-child(3n) {
          float: right;
          margin-right: 0; } }
  #wpsl-result-list p {
    margin-bottom: 0 !important;
    padding-left: 1em; }
  #wpsl-result-list a {
    color: #282629; }
  #wpsl-result-list .wpsl-direction-wrap {
    padding-left: 1em; }

.wpsl-search-btn-wrap {
  width: auto;
  display: inline-block;
  margin-top: 1em;
  margin-bottom: 1.5em; }
  .wpsl-search-btn-wrap input, .wpsl-search-btn-wrap input:focus, .wpsl-search-btn-wrap input :hover {
    background-size: cover !important;
    border: 0 !important;
    box-shadow: none !important;
    text-shadow: none !important;
    margin: 0 0 !important;
    border-radius: 0 !important;
    outline: 0 !important;
    background-image: url("img/buttons/submit.png") !important;
    background-color: transparent !important;
    color: transparent !important;
    width: 9.4em;
    font-size: 1.2em;
    padding-top: 0.4em !important; }

#wpsl-result-list #wpsl-stores {
  height: auto !important; }

.wpsl-infobox {
  font-family: "CenturyGothicPro", Helvetica Neue, Helvetica, Arial, sans-serif;
  text-align: left;
  width: 15em; }
  .wpsl-infobox a {
    color: #C66256; }
    .wpsl-infobox a:not(.directions) {
      display: none; }
  .wpsl-infobox span, .wpsl-infobox strong {
    border-bottom: 1px dashed #D8D8D8;
    padding: 1.2em 0em 1em 0em;
    display: inline-block;
    width: 100%; }
  .wpsl-infobox strong {
    padding-top: 0; }

#toggle-wrap {
  display: none; }

/* Image Gallery
----------------*/
#filters {
  margin-bottom: 1.5em;
  margin-top: 2.5em; }
  #filters .menu {
    padding: 0 14vw; }
  #filters button {
    color: #827F78;
    background-color: transparent;
    border: 2px solid #827F78;
    border-radius: 0.3em;
    font-family: "CenturyGothicPro", Helvetica Neue, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0.7em 0.7em 0.4em 0.7em;
    font-size: 1em;
    margin-bottom: 0.3em; }
    #filters button:hover, #filters button.active {
      background-color: #827F78;
      color: #EAE6E3; }
    #filters button:focus {
      outline: none;
      border: 2px solid #827F78;
      box-shadow: none; }

#gallery {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10vw;
  min-height: 50vw; }
  #gallery:after {
    content: " ";
    display: block;
    clear: both; }
  #gallery .gallery-item {
    width: 25%;
    float: left;
    border: 1px solid #EAE6E3;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 16vw;
    outline: none;
    text-decoration: none;
    position: relative; }
    @media (max-width: 480px) {
      #gallery .gallery-item {
        width: 50%;
        height: 32vw; } }
    #gallery .gallery-item:nth-child(4n) {
      float: right;
      margin-right: 0; }
    #gallery .gallery-item .tag-bg {
      background-color: rgba(0, 0, 0, 0.6);
      width: 100%;
      height: 100%;
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      transform-style: preserve-3d;
      padding: 0 3vw;
      opacity: 0;
      -webkit-transition: opacity 300ms ease-in-out;
      -moz-transition: opacity 300ms ease-in-out;
      -o-transition: opacity 300ms ease-in-out;
      transition: opacity 300ms ease-in-out; }
      #gallery .gallery-item .tag-bg .img-tag {
        position: relative;
        top: 30%;
        -webkit-transform: translateY(-30%);
        -ms-transform: translateY(-30%);
        transform: translateY(-30%);
        font-family: "CenturyGothicPro", Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 1.4vw;
        color: #EAE6E3;
        text-transform: uppercase; }
        #gallery .gallery-item .tag-bg .img-tag span:last-child {
          display: none; }
    #gallery .gallery-item:hover .tag-bg {
      opacity: 1; }

.page-template-page-gallery #gallery .gallery-item .tag-bg .img-tag {
  top: 45%;
  -webkit-transform: translateY(-45%);
  -ms-transform: translateY(-45%);
  transform: translateY(-45%); }

/* Theme My Login
-----------------*/
.tml-wrap {
  padding-top: 5vw;
  padding-bottom: 5vw; }
  .tml-wrap .section-tagline {
    margin: 0 21% 2em; }

.tml a, .tml label {
  text-decoration: none;
  font-family: "CenturyGothicPro", Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #282629;
  text-transform: uppercase; }

.tml a:hover {
  color: #C66256; }

.input-wrap input {
  border-radius: 0;
  border: 2px solid #63A7B6;
  float: left;
  width: 50%;
  padding: 1em; }
  .input-wrap input:first-child {
    border-bottom-left-radius: 1.8em; }
  .input-wrap input:focus {
    outline: none; }

.input-wrap input[type="password"] {
  border-left: 0; }

.tml-submit-wrap {
  width: 50%;
  float: right;
  text-align: right; }
  .tml-submit-wrap input, .tml-submit-wrap input:focus, .tml-submit-wrap input :hover {
    background-size: cover;
    border: 0;
    box-shadow: none;
    text-shadow: none;
    margin: 0 0;
    border-radius: 0;
    outline: 0;
    background-image: url("img/buttons/login.png");
    background-color: transparent;
    color: transparent;
    width: 12.6em;
    font-size: 1.2em;
    padding-top: 0.4em; }
  .tml-submit-wrap input.submit-button {
    background-size: contain !important;
    border: 0 !important;
    box-shadow: none !important;
    text-shadow: none !important;
    margin: 0 0 !important;
    border-radius: 0 !important;
    outline: 0 !important;
    background-image: url("img/buttons/submit.png") !important;
    background-color: transparent !important;
    color: transparent !important;
    width: 9.8em;
    font-size: 1.2em;
    padding-top: 0.4em !important;
    height: 3.1em;
    background-repeat: no-repeat; }

.tml-name-wrap {
  width: 100%; }
  .tml-name-wrap input {
    border-radius: 0;
    border: 2px solid #63A7B6;
    float: left;
    width: 50%;
    padding: 1em; }
    .tml-name-wrap input:nth-child(2n) {
      border-left: 0; }
    .tml-name-wrap input:nth-child(3n) {
      width: 100%;
      border-top: 1px solid #63A7B6; }
    .tml-name-wrap input:last-child {
      width: 100%;
      border-top: 1px solid #63A7B6;
      border-left: 2px solid #63A7B6;
      border-bottom-left-radius: 1.8em; }
    .tml-name-wrap input:focus {
      outline: none; }

.tml-lostpassword .tml-submit-wrap {
  width: 100%;
  float: none;
  text-align: center;
  margin-top: 1em;
  display: inline-block; }

.tml-lostpassword input {
  border-top: 2px solid #63A7B6 !important; }

.tml-rememberme-wrap {
  width: 50%;
  float: left; }

.tml-action-links {
  list-style: none;
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0; }

.tml-login {
  padding: 0 15%; }
  .tml-login .tml-action-links {
    text-align: right;
    padding-right: 0; }
    .tml-login .tml-action-links li:first-child {
      display: none; }

.tml-register {
  padding: 0 15%; }
  .tml-register input:focus {
    outline: none; }
  .tml-register .tml-action-links {
    display: none; }
  .tml-register .tml-submit-wrap input {
    background-image: url("img/buttons/request-access.png"); }

@media screen and (max-width: 930px) {
  .tml-wrap {
    padding-bottom: 4em; }
  .tml-submit-wrap {
    width: 100%; }
  .tml-login, .tml-register {
    padding: 0 0; } }

/* Portal
---------*/
/*Dashboard / Meet The Team
---------------------------*/
.page-template-page-dashboard .white {
  color: #EAE6E3; }

.page-template-page-dashboard .holder {
  width: 100%; }

@media (min-width: 769px) {
  .page-template-page-dashboard .third {
    min-height: 21em; } }

.page-template-page-dashboard .team-pic {
  display: block;
  padding-top: .75em;
  margin: 0 auto -2.2em;
  width: 65vw;
  border-radius: 50%;
  background-position: center center;
  background-size: cover;
  border: 5px solid #EAE6E3; }
  @media (max-width: 480px) {
    .page-template-page-dashboard .team-pic {
      width: 85vw; } }
  @media (min-width: 769px) {
    .page-template-page-dashboard .team-pic {
      display: inline-block;
      padding-top: 0;
      height: 21.3vw;
      width: 100%; } }

.page-template-page-dashboard .team-pic-fix {
  position: relative;
  z-index: 5;
  background-color: #fff; }

.page-template-page-dashboard .name-underline {
  text-align: center;
  font-size: 1.3em;
  border-bottom: 1px solid #C9563D;
  padding: 0.5em;
  margin: 0 auto 0.6em;
  display: block;
  width: 44vw;
  max-width: 100%; }
  @media (min-width: 769px) {
    .page-template-page-dashboard .name-underline {
      width: 17vw; } }

.page-template-page-dashboard .employee-description {
  text-align: center;
  font-size: .8em;
  padding: 0 0 1.5em; }

.page-template-page-dashboard .get-in-touch-wrap {
  padding-bottom: 3em; }
  .page-template-page-dashboard .get-in-touch-wrap .wpcf7-form {
    max-width: 55em;
    margin: 0 auto; }
  .page-template-page-dashboard .get-in-touch-wrap #full-name {
    border-radius: 0;
    border: 2px solid #63A7B6;
    float: left;
    width: 33.33%;
    padding: 1em; }
    @media (max-width: 480px) {
      .page-template-page-dashboard .get-in-touch-wrap #full-name {
        width: 100%;
        border-bottom: 0; } }
    .page-template-page-dashboard .get-in-touch-wrap #full-name:focus {
      outline: none; }
  .page-template-page-dashboard .get-in-touch-wrap #email {
    border-radius: 0;
    border: 2px solid #63A7B6;
    float: left;
    width: 33.33%;
    padding: 1em;
    border-left: 0;
    border-right: 0; }
    @media (max-width: 480px) {
      .page-template-page-dashboard .get-in-touch-wrap #email {
        width: 50%;
        border-left: 2px solid #63A7B6; } }
    .page-template-page-dashboard .get-in-touch-wrap #email:focus {
      outline: none; }
  .page-template-page-dashboard .get-in-touch-wrap #your-subject {
    border-radius: 0;
    border: 2px solid #63A7B6;
    float: left;
    width: 33.33%;
    padding: 1em; }
    @media (max-width: 480px) {
      .page-template-page-dashboard .get-in-touch-wrap #your-subject {
        width: 50%; } }
    .page-template-page-dashboard .get-in-touch-wrap #your-subject:focus {
      outline: none; }
  .page-template-page-dashboard .get-in-touch-wrap #your-message {
    width: 100%;
    border-radius: 0;
    border: 2px solid #63A7B6;
    border-top: 1px solid #63A7B6;
    border-bottom-left-radius: 1.8em;
    padding: 1em;
    height: 7em; }
    @media (max-width: 480px) {
      .page-template-page-dashboard .get-in-touch-wrap #your-message {
        height: 5em; } }
    .page-template-page-dashboard .get-in-touch-wrap #your-message:focus {
      outline: none; }
  .page-template-page-dashboard .get-in-touch-wrap .send-message-wrap {
    float: right;
    width: 15.1em;
    margin-top: -1.3em;
    margin-bottom: 0em; }
  .page-template-page-dashboard .get-in-touch-wrap .wpcf7-submit {
    width: 12.6em;
    font-size: 1.2em;
    padding-top: 0.4em;
    background-image: url("img/buttons/send-message.png") !important;
    background-color: transparent !important;
    background-size: cover;
    background-repeat: no-repeat;
    border: 0 !important;
    box-shadow: none !important;
    text-shadow: none !important;
    margin: 0 0 !important;
    border-radius: 0 !important;
    outline: 0 !important; }
  .page-template-page-dashboard .get-in-touch-wrap .wpcf7-response-output {
    margin: 2.7em 0.5em 0.2em;
    border: 2px solid #63A7B6 !important; }

/* Testimonials
---------------*/
.page-template-page-testimonials .testimonial-type {
  display: block;
  float: left;
  width: 100%;
  text-align: left;
  font-weight: 700;
  font-family: "CenturyGothicPro", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.3em; }

.page-template-page-testimonials .black-line {
  background-color: #000;
  float: left;
  width: 100%; }

.page-template-page-testimonials .container {
  display: inline-block; }

.page-template-page-testimonials .half {
  text-align: left;
  font-size: .8em;
  padding-right: 0;
  display: inline-block; }
  .page-template-page-testimonials .half .stars .fa {
    font-size: 1.7em;
    padding: 0 0.2em 0.4em 0;
    color: #C9563D; }
  .page-template-page-testimonials .half .source {
    font-family: "CenturyGothicPro", Helvetica Neue, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    float: right; }

/* Press Releases
-----------------*/
.page-template-page-press-releases #primary, .single-press_release #primary {
  padding: 1em 8% 0;
  text-align: center; }
  @media (min-width: 769px) {
    .page-template-page-press-releases #primary, .single-press_release #primary {
      padding: 1em 0 2em 15%; } }

.page-template-page-press-releases #secondary, .single-press_release #secondary {
  padding-top: 0; }
  @media (max-width: 768px) {
    .page-template-page-press-releases #secondary, .single-press_release #secondary {
      padding: 0 8% 2em;
      margin-top: -4em; } }

.page-template-page-press-releases .one-third, .single-press_release .one-third {
  margin-top: 0.4em;
  margin-right: 0 !important; }

.page-template-page-press-releases section, .single-press_release section {
  padding: 0 !important; }

.page-template-page-press-releases .section-heading, .single-press_release .section-heading {
  text-align: center;
  font-size: 3em;
  line-height: 1;
  margin-top: 1em;
  margin-bottom: 0.3em; }

.page-template-page-press-releases .headline, .single-press_release .headline {
  font-family: "CenturyGothicPro", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  margin: 0 0 0.1em;
  font-size: 1.6em; }

.page-template-page-press-releases .list-title, .single-press_release .list-title {
  margin-bottom: 0.3em;
  margin-top: 2em;
  letter-spacing: 2px; }

.page-template-page-press-releases .press-link, .single-press_release .press-link {
  display: inline-block;
  color: #282629;
  text-decoration: none;
  padding-bottom: 0.3em;
  font-family: "CenturyGothicPro", Helvetica Neue, Helvetica, Arial, sans-serif; }
  .page-template-page-press-releases .press-link:hover, .single-press_release .press-link:hover {
    color: #63A7B6; }

.page-template-page-press-releases .hex-button, .single-press_release .hex-button {
  cursor: pointer; }
  @media (min-width: 769px) {
    .page-template-page-press-releases .hex-button, .single-press_release .hex-button {
      display: none; } }

.page-template-page-press-releases p, .single-press_release p {
  text-align: left; }

.single-press_release .entry-content {
  padding: 0; }

.single-press_release .post-navigation {
  margin: 0 0 3em 8%; }
  @media (min-width: 769px) {
    .single-press_release .post-navigation {
      display: none; } }

/* Responsive styles
--------------------*/
@media (min-width: 769px) {
  #mobile-masthead {
    display: none; }
  #portal-mobile-masthead {
    display: none; }
  #mobile-navigation {
    display: none; }
  .mobile-word-wrap {
    display: none; }
  #sticky-footer {
    display: none; }
  #wpsl-result-list {
    display: none; } }

@media (max-width: 768px) {
  .page-template-page-storage #page, .page-template-page-careers #page, .blog #page {
    background-image: url("img/tile-light.png"); }
  #page {
    padding-top: 20vw;
    position: relative;
    z-index: 0; }
    #page .word-logo {
      max-width: 18em;
      margin: 0 auto 0.8em;
      display: block; }
  #secondary, #masthead {
    display: none; }
  #nav-trigger {
    position: absolute;
    padding: 1.2em;
    z-index: 1000; }
    #nav-trigger .fa {
      color: #282629;
      font-size: 2.4em; }
  .mm-menu {
    z-index: 1500 !important; }
  .mm-menu .mm-listview > li:after {
    border: none !important;
    border-color: transparent !important; }
  #mobile-masthead {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 200;
    font-size: 3vw; }
    #mobile-masthead #mobile-logo-wrap {
      position: absolute;
      left: 0;
      right: 0;
      text-align: center; }
      #mobile-masthead #mobile-logo-wrap .home-link {
        position: relative;
        top: 0.4em;
        display: inline-block; }
    #mobile-masthead .mobile-blue-bar {
      background-color: #63A7B6;
      position: relative;
      height: 5em; }
    #mobile-masthead .band-aid {
      background-color: #63A7B6;
      border-radius: 50%;
      width: 6em;
      height: 6em;
      z-index: 1;
      position: absolute;
      left: 0.5em;
      right: 0.5em;
      top: -0.6em; }
    #mobile-masthead .m-logo {
      width: 7em;
      padding: 0 1em;
      display: block;
      margin-right: auto;
      margin-left: auto;
      position: relative;
      z-index: 2; }
  /* Portal Nav
    -------------*/
  #portal-mobile-masthead {
    position: fixed;
    top: 0;
    left: -1px;
    right: 0;
    margin-left: -0.1em;
    z-index: 200;
    font-size: 3vw;
    height: 6.8em;
    background-image: url("img/bg-portal-desktop.png"); }
    #portal-mobile-masthead #nav-trigger .fa {
      color: #EAE6E3; }
  .portal-mobile-logo {
    width: 20em;
    margin: 1.3em auto 0.8em;
    display: block; }
  /* MMenu
    ------------*/
  #mobile-navigation {
    color: #EAE6E3;
    background-color: #282629;
    text-align: center; }
    #mobile-navigation .blue {
      color: #63A7B6; }
    #mobile-navigation .mm-navbar {
      border: none; }
      #mobile-navigation .mm-navbar .mm-title {
        margin: 0.12em 0;
        font-size: 21vw;
        width: 2.7em;
        height: 0.6em;
        background-image: url("img/mobile-logo-white.png");
        background-repeat: no-repeat;
        background-size: contain;
        display: inline-block; }
    #mobile-navigation .mm-hasnavbar {
      padding-top: 0; }
    #mobile-navigation .mm-listview {
      margin: 25vw 5px 20px; }
    #mobile-navigation .mm-listview > li {
      position: inherit;
      border-top: 1px dashed #EAE6E3;
      font-size: 1.4em;
      font-weight: 700;
      letter-spacing: 1px;
      font-family: "CenturyGothicPro", Helvetica Neue, Helvetica, Arial, sans-serif;
      padding: 1em; }
      #mobile-navigation .mm-listview > li a {
        font-size: 6vw;
        padding: 0.3em 0.4em 0.1em 0.4em;
        line-height: 1; }
    #mobile-navigation li.first {
      border: none; }
    #mobile-navigation .mm-listview > li.mmenu-close {
      position: absolute;
      top: 0;
      right: 0.2em;
      border: none;
      font-size: 3em;
      padding: 0; }
      #mobile-navigation .mm-listview > li.mmenu-close .fa {
        font-size: 9vw;
        padding: 0.5em 0.3em; }
    #mobile-navigation .menu-item-type-custom {
      padding: 0 0 !important;
      margin-left: 0.7em !important;
      font-size: 6vw !important; }
      #mobile-navigation .menu-item-type-custom.facebook, #mobile-navigation .menu-item-type-custom.twitter, #mobile-navigation .menu-item-type-custom.linkedin, #mobile-navigation .menu-item-type-custom.instagram {
        border: none !important;
        display: inline-block;
        float: left;
        padding: 0 0;
        margin-left: 0.5em; }
        #mobile-navigation .menu-item-type-custom.facebook .fa::before, #mobile-navigation .menu-item-type-custom.twitter .fa::before, #mobile-navigation .menu-item-type-custom.linkedin .fa::before, #mobile-navigation .menu-item-type-custom.instagram .fa::before {
          color: #282629;
          background-color: #EAE6E3;
          border-radius: 50%;
          padding: 0.7em !important;
          min-width: 1.65em;
          line-height: 3; }
      #mobile-navigation .menu-item-type-custom.facebook {
        margin-left: 13%; }
        #mobile-navigation .menu-item-type-custom.facebook .fa:before {
          padding: 0.7em  0.85em !important; }
      #mobile-navigation .menu-item-type-custom a {
        padding: 0 0 !important; }
    #mobile-navigation .mm-menu > .mm-panel {
      padding-left: 4vw;
      padding-right: 4vw; }
  #menu-portal-mobile .mm-navbar {
    background-image: url("img/bg-portal-desktop.png");
    height: 16vw; }
  .img-tag {
    display: none; }
  .banner-image {
    height: 60vw; }
  .home .site-footer {
    padding-bottom: 25vw; }
    .home .site-footer h3 span {
      display: block; }
  #toggle-wrap {
    display: block; }
  #our-history {
    display: none; } }

@media (max-width: 480px) {
  section.brown .custom-next {
    right: 4vw; }
  section.brown .custom-prev {
    left: 4vw; } }

/* Landscape
------------*/
@media only screen and (max-device-width: 800px) and (orientation: landscape) {
  #sticky-footer {
    display: none; }
  #mobile-masthead, #portal-mobile-masthead {
    font-size: 1.8vw; }
  #page {
    padding-top: 12.2vw; }
  .home .site-footer {
    padding-bottom: 1em; } }

/* Gravity Forms
----------------*/
.gform_wrapper ul.gfield_checkbox li input[type=checkbox], .gform_wrapper ul.gfield_radio li input[type=radio] {
  padding: 8px !important; }

.gform_wrapper .gfield_checkbox li label, .gform_wrapper .gfield_radio li label {
  line-height: 2 !important; }

.gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield div.ginput_complex span.ginput_left select,
.gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield div.ginput_complex span.ginput_right select,
.gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield input[type=radio],
.gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield select {
  border-radius: 0;
  background: none;
  border: 1px solid #63A7B6;
  cursor: pointer;
  padding: 0.5em 1em;
  width: 100%;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  -moz-appearance: none;
  appearance: none;
  text-overflow: '';
  /* this is important! */
  padding-right: 1.5em;
  width: 12em;
  z-index: 1;
  position: relative;
  background-color: transparent; }

.gform_wrapper input[type="checkbox"],
.gform_wrapper input[type="radio"] {
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  width: 1em;
  height: 1em;
  border: 1px solid #63A7B6;
  cursor: pointer; }
  .gform_wrapper input[type="checkbox"]:focus,
  .gform_wrapper input[type="radio"]:focus {
    outline: 0; }
  .gform_wrapper input[type="checkbox"]:checked,
  .gform_wrapper input[type="radio"]:checked {
    background-color: #63A7B6; }

.gform_wrapper input[type="file"] {
  line-height: 0;
  font-size: 16px; }

body .gform_wrapper .ginput_container_select {
  position: relative; }

body .gform_wrapper .ginput_container_select:after {
  font-family: "FontAwesome";
  content: "\f107";
  display: inline-block;
  font-size: 1.3em;
  color: #63A7B6;
  margin-left: -1.2em;
  position: absolute;
  top: 0.4em;
  z-index: 0; }

.gform_wrapper .gform_footer input[type=image] {
  height: 3.4em;
  width: 12em;
  background-color: transparent !important;
  background-size: cover;
  background-repeat: no-repeat;
  border: 0 !important;
  box-shadow: none !important;
  text-shadow: none !important;
  margin: 0 0 !important;
  border-radius: 0 !important;
  outline: 0 !important; }
